*{
    padding: 0px;
    margin: 0px;
}
.heading1 {
    display: grid;
    grid-template-columns: repeat(3,auto);
    text-align: center;
    align-items: center;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(226, 178, 88);
}

.logo {
    height: 48px;
    margin-bottom: 60px;    
}

.book {
    height: 48px;
    position: absolute;
    top: 8px;
    right: 16px;
    display: inline-block;
}

.book:hover {
    background-image: url(open-magazine.png);
}

.heading2 {
    display: grid;
    grid-template-columns: repeat(5,auto);
    text-align: center;
    justify-content: center;
    gap: 128px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    background-color: white
}

.h2 {
    height: 32px;
    width: 100px;
    background-color: rgb(125, 71, 71);
    color: white;
    margin: 2px;
    border-width: 1px;
    border-style: solid;
}
.h2:hover {
    background-color: white;
    color: black;
    background-color: white;
    cursor: pointer;
}

.searchbar {
    width: 80px;
    align-items: center;
}